# Compiled class file
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.lxpreferences
update-libs.sh

.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
bin/
target/

